@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '@fontsource/public-sans/400.css';
@import '@fontsource/public-sans/500.css';
@import '@fontsource/public-sans/700.css';
@import '@fontsource/space-grotesk/400.css';
@import '@fontsource/space-grotesk/500.css';
@import '@fontsource/space-grotesk/700.css';
@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/500.css';
@import '@fontsource/jetbrains-mono/700.css';
@import '@fontsource/fira-code/400.css';
@import '@fontsource/fira-code/500.css';
@import '@fontsource/fira-code/700.css';
@import '@fontsource/ibm-plex-mono/400.css';
@import '@fontsource/ibm-plex-mono/500.css';
@import '@fontsource/ibm-plex-mono/700.css';
@import '@fontsource/source-serif-4/400.css';
@import '@fontsource/source-serif-4/500.css';
@import '@fontsource/source-serif-4/700.css';
@import '@fontsource/eb-garamond/400.css';
@import '@fontsource/eb-garamond/500.css';
@import '@fontsource/eb-garamond/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
